<!--The content below is only a placeholder and can be replaced.-->

<nav id="navbar" class="navbar navbar-primary navbar-fixed-top nav-transparent" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
  </div>
  <a class="navbar-brand navbar-center" href="#">
    <h3>&nbsp;&nbsp;<span class="glyphicon glyphicon-globe" aria-hidden="true"></span></h3>
  </a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#vision">Visi&oacute;n</a></li>
      <li><a href="#ubicacion">Ubicaci&oacute;n</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </div>
</nav>
<div class="newsBackground">
  <div style="text-align:center; background-color: white">
    <div style="height: 100%">
      <img src="../assets/img/shalomweb2.png" alt="Shalom Extremo." width="100%">
    </div>
    <div style="height: 100px;"></div>
    <div class="col-md-6" style="background-color: #04B404; height: 90px;">
      <h1 class="title">TE INVITAMOS</h1>
    </div>
    <div class="col-md-4" style="background-color: #298A08; height: 86px;"></div>
    <div class="col-md-2" style="background-color: #173B0B; height: 82px;"></div>
    <div style="height: 200px;"></div>
    <div style="height: 100%">
      <img src="../assets/img/output_LeCvDY.gif" alt="Anuncios" width="100%" />
    </div>
    <div style="height: 40px;"></div>
    <div class="text">
      &quot;Acompa&ntilde;anos a exaltar a nuestro Dios&quot;
    </div>
    <div style="height: 120px;">
    </div>
  </div>
  <div style="height: 400px;">
  </div>
  <div id="nosotros" style="text-align:center; background-color: white">
    <div style="height: 100px;"></div>
    <div>
      <div class="col-md-6" style="background-color: #04B404; height: 90px">
        <h1 class="title">NOSOTROS</h1>
      </div>
      <div class="col-md-4" style="background-color: #298A08; height: 86px;"></div>
      <div class="col-md-2" style="background-color: #173B0B; height: 82px;"></div>
    </div>
    <div style="height: 200px;"></div>
    <div>
      <img src="../assets/img/nosotros.png" alt="Nosotros." width="1220px">
    </div>
    <div style="height: 120px;">
    </div>
  </div>
</div>
<div class="apostolicBackground">
  <div style="height: 400px;">
  </div>
  <div id="vision" style="text-align:center; background-color: white">
    <div style="height: 100px;"></div>
    <div>
      <div class="col-md-6" style="background-color: #04B404; height: 80px">
        <h1 class="title">VISI&Oacute;N</h1>
      </div>
      <div class="col-md-4" style="background-color: #298A08; height: 76px;"></div>
      <div class="col-md-2" style="background-color: #173B0B; height: 72px;"></div>
    </div>
    <div style="height: 80px;"></div>
    <div class="text">
      &quot;Shalom Extremo un lugar de adoraci&oacute;n&quot;
      <p>
        Somos ministerios, somos apost&oacute;licos, somos de restauraci&oacute;n
        <p>
          NUESTRA MISI&Oacute;N
          <p>
            Preparar nuevas generaciones para el d&iacute;a del arrebatamiento. Anunciar en Jesucristo una nueva oportunidad.
    </div>
    <div style="height: 600px">
      <img src="../assets/img/vision.png" alt="Vision." width="1220px">
    </div>
    <div style="height: 120px;">
    </div>
  </div>
</div>
<div class="kingBackground">
  <div style="height: 400px;">
  </div>
  <div id="ubicacion" style="text-align:center; background-color: white">
    <div style="height: 100px;"></div>
    <div>
      <div class="col-md-6" style="background-color: #04B404; height: 80px">
        <h1 class="title">UBICACI&Oacute;N</h1>
      </div>
      <div class="col-md-4" style="background-color: #298A08; height: 76px;"></div>
      <div class="col-md-2" style="background-color: #173B0B; height: 72px;"></div>
    </div>
    <div class="col-md-12" style="margin: 0; padding: 0">
      <div class="glyphicon glyphicon-asterisk col-md-5 textUbicacion" style="text-align: left">
        Valle Osiris, Renacimiento de Aragon, Estado de México
      </div>
      <div class="col-md-6" style="border: 5px solid; margin-top: 20px;">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zo">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-1">&nbsp;</div>
    </div>
    <div id="contacto" style="text-align: center; background-color: #298A08; height: 300px; margin-top: 450px;">
      <div style="height: 100px;"></div>
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-2">
        <a href="#">
                <i class="fa fa-facebook-official fa-4x socialNetwork" aria-hidden="true"></i>
            </a>
      </div>
      <div class="col-md-2">
        <a href="#" style="opacity: inherit">
                <i class="fa fa-google-plus fa-4x socialNetwork" aria-hidden="true"></i>
              </a>
      </div>
      <div class="col-md-2">
        <a href="#" style="opacity: inherit">
                <i class="fa fa-twitter fa-4x socialNetwork" aria-hidden="true"></i>
              </a>
      </div>
      <div class="col-md-3 textContact">
        Juntos hasta lo &uacute;ltimo de la tierra.
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4 textContact" style="margin-top: 100px;">
        SHALOM EXTREMO.
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>