<!--The content below is only a placeholder and can be replaced.-->

<nav id="navbar" class="navbar navbar-primary navbar-fixed-top nav-transparent" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
  </div>
  <a class="navbar-brand navbar-center" href="#">
    <h3>&nbsp;&nbsp;<span class="glyphicon glyphicon-globe" aria-hidden="true"></span></h3>
  </a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#nosotros">Nosotros</a></li>
      <li><a href="#vision">Visi&oacute;n</a></li>
      <li><a href="#ubicacion">Ubicaci&oacute;n</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </div>
</nav>
<div class="newsBackground">
  <div style="text-align:center; background-color: white">
    <div style="height: 100%; width: 100%">
      <img src="../assets/img/shalomweb2.png" alt="Shalom Extremo." width="100%">
    </div>
    <div style="height: 100px;"></div>
    <div class="col-md-2" style="background-color: #5FB404; height: 92px;"></div>
    <div class="col-md-4" style="background-color: #4B8A08; height: 90px;">
      <h1 class="title">TE INVITAMOS</h1>
    </div>
    <div class="col-md-4" style="background-color: #38610B; height: 87px;"></div>
    <div class="col-md-2" style="background-color: #243B0B; height: 83px;"></div>
    <div style="height: 200px;"></div>
    <div class="text-title">
      PR&Oacute;XIMOS EVENTOS
    </div>
    <div class="text">
      <h3>
        <p><em>&quot;Acompa&ntilde;anos a exaltar a nuestro Dios&quot;</em></p>
      </h3>
    </div>
    <div style="height: 50px;"></div>
    <div class="col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div style="height: 100%">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="../assets/img/itemOne.png">
              </div>

              <div class="item">
                <img src="../assets/img/itemTwo.png">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>


    <div style="height: 480px;">
    </div>
  </div>
  <div style="height: 400px;">
  </div>
  <div id="nosotros" style="text-align:center; background-color: white">
    <div style="height: 100px;"></div>
    <div>
      <div class="col-md-2" style="background-color: #5FB404; height: 92px;"></div>
      <div class="col-md-4" style="background-color: #4B8A08; height: 90px;">
        <h1 class="title">NOSOTROS</h1>
      </div>
      <div class="col-md-4" style="background-color: #38610B; height: 87px;"></div>
      <div class="col-md-2" style="background-color: #243B0B; height: 83px;"></div>
    </div>
    <div style="height: 200px;"></div>
    <div class="text-title">
      ¿QUI&Eacute;NES SOMOS?
    </div>
    <div>
      <h3>
        <p><em>La iglesia Shalom, y los Ministerios Shalom Extremo</em></p>
      </h3>
      <h3>
        <p><em>est&aacute;n dirigidos por el Pastor Hiber Albores, junto a su esposa la Pastora Angeles</em></p>
      </h3>
      <h3>
        <p><em>en Ecatepec Edo. de Mex.</em></p>
      </h3>
      <h3>
        <p><em>Somos una iglesia con mentalidad &quot;APOSTOLICA&quot;</em></p>
      </h3>
    </div>
    <div data-toggle="tooltip" title="{{efesiosVers}}" style="color: teal">
      <h3>
        <p><em>(Efesios 4:11-12).</em></p>
      </h3>
    </div>
    <div data-toggle="tooltip" title="{{corintiosVers}}" style="color: teal">
      <h3>
        <p><em>(1ra Corintios 12:28)</em></p>
      </h3>
    </div>
    <div>
      <h3>
        <p><em>Somos una iglesia con fundamento &quot;APOST&Oacute;LICO&quot;</em></p>
      </h3>
    </div>
    <div data-toggle="tooltip" title="{{efesios2Vers}}" style="color: teal">
      <h3>
        <p><em>(Efesios 2:20)</em></p>
      </h3>
    </div>
    <div data-toggle="tooltip" title="{{hecho2Vers}}" style="color: teal">
      <h3>
        <p><em>(Hechos 2:42)</em></p>
      </h3>
    </div>
    <div>
      <h3>
        <p><em>Somos una iglesia con una visi&oacute;n global</em></p>
      </h3>
    </div>
    <div data-toggle="tooltip" title="{{hechos3Vers}}" style="color: teal">
      <h3>
        <p><em>(Hechos 13:47)</em></p>
      </h3>
    </div>
    <div style="height: 120px;">
    </div>
  </div>
</div>
<div class="apostolicBackground">
  <div style="height: 400px;">
  </div>
  <div id="vision" style="text-align:center; background-color: white">
    <div style="height: 100px;"></div>
    <div class="col-md-2" style="background-color: #5FB404; height: 92px;"></div>
    <div class="col-md-4" style="background-color: #4B8A08; height: 90px;">
      <h1 class="title">VISI&Oacute;N</h1>
    </div>
    <div class="col-md-4" style="background-color: #38610B; height: 87px;"></div>
    <div class="col-md-2" style="background-color: #243B0B; height: 83px;"></div>
    <div style="height: 150px"></div>
    <div class="text-title">
      NUESTRA VISI&Oacute;N.
    </div>
    <div>
      <h3>
        <p><em>Con el prop&oacute;sito de levantar hoy en d&iacute;a una iglesia</em></p>
      </h3>
      <h3>
        <p><em>con una mentalidad apost&oacute;lica impactando familias, ciudades y naciones</em></p>
      </h3>
      <h3>
        <p><em>hasta lo &uacute;ltimo de la tierra.</em></p>
      </h3>
    </div>
    <div style="height: 120px;"></div>
    <div class="text-title">
      NUESTRA MISI&Oacute;N.
    </div>
    <div>
      <h3>
        <p><em>Nuestro deseo es alcanzar familias que sean restauradas,</em></p>
      </h3>
      <h3>
        <p><em>transformadas y logren descubrir el motivo por el cual Dios les creo hasta</em></p>
      </h3>
      <h3>
        <p><em>lo &uacute;ltimo de la tierra.</em></p>
      </h3>
    </div>
    <div href="#" data-toggle="tooltip" title="{{hechosVers}}" style="color: teal">
      <h3>
        <p><em>(hechos 1:8).</em></p>
      </h3>
    </div>
    <div style="height: 120px;">
    </div>
  </div>
</div>
<div class="kingBackground">
  <div style="height: 400px;">
  </div>
  <div id="ubicacion" style="text-align:center; background-color: white">
    <div style="height: 100px;"></div>
    <div>
      <div class="col-md-2" style="background-color: #5FB404; height: 92px;"></div>
      <div class="col-md-4" style="background-color: #4B8A08; height: 90px;">
        <h1 class="title">UBICACI&Oacute;N</h1>
      </div>
      <div class="col-md-4" style="background-color: #38610B; height: 87px;"></div>
      <div class="col-md-2" style="background-color: #243B0B; height: 83px;"></div>
    </div>
    <div class="col-md-12" style="margin: 0; padding: 0">
      <div class="col-md-5" style="text-align: left">
        <h4>
          <p><em>Valle Osiris, Renacimiento de Aragon, Estado de México<p></em></h4>
      </div>
      <div class="col-md-6" style="border: 5px solid; margin-top: 20px;">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zo">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-1">&nbsp;</div>
    </div>
    <div id="contacto" style="text-align: center; background-color: #298A08; height: 200px; margin-top: 450px;">
      <div style="height: 50px;"></div>
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-2">
        <a href="#">
                <i class="fa fa-facebook-official fa-4x socialNetwork" aria-hidden="true"></i>
            </a>
      </div>
      <div class="col-md-2">
        <a href="#" style="opacity: inherit">
                <i class="fa fa-google-plus fa-4x socialNetwork" aria-hidden="true"></i>
              </a>
      </div>
      <div class="col-md-2">
        <a href="#" style="opacity: inherit">
                <i class="fa fa-twitter fa-4x socialNetwork" aria-hidden="true"></i>
              </a>
      </div>
      <div class="col-md-3 textContact">
        Juntos hasta lo &uacute;ltimo de la tierra.
      </div>
      <div class="col-md-4"></div>
      <div style="height: 100px;"></div>
      <div class="col-md-4 textContact">
        SHALOM EXTREMO.
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>